{%load static fresh_static%}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title%}escape room{% endblock %}</title>
        <style>
             body{background-color: lightyellow;}
        </style>
        {%block extra_head %}
            <link rel="stylesheet" href="{% fresh_static 'main.css'%}" />
        {% endblock %}


</head>
    <body>
        <h1> Escape Room</h1>

         {% block content %}
        {% endblock %}

        <hr/>
        &copy;2020. first.
        {% block extra_body %}
                <script src="{% static 'main.js' %}"></script>
        {% endblock %}
    </body>
</html>